body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: black;
    padding: 30px; 
    border-radius: 12px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s;
}

.container:hover {
    transform: translateY(-5px); 
}

h1, h2, h3 {
    text-align: center;
    color: blueviolet;
    margin-bottom: 20px; 
}

.options, .result, .strength {
    margin: 20px 0;
}

input[type="number"], input[type="text"] {
    width: 95.9%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid white; 
    border-radius: 5px; 
    transition: border-color 0.3s; 
}

input[type="number"]:focus, input[type="text"]:focus {
    border-color: #007bff; 
    outline: none; 
}

.character-types label {
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
}

#uppercase + label,
#lowercase + label,
#numbers + label,
#special + label {
    color: #ffffff;
}

button {
    padding: 12px; 
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
    background-color: #213a57; 
    color: white; 
    border: none;
    border-radius: 5px; 
    transition: background-color 0.3s; 
}

button:hover {
    background-color: #0056b3; 
}

.strength-meter {
    height: 12px; 
    width: 100%;
    background: #ddd;
    border-radius: 5px;
    margin-top: 10px; 
}

.weak {
    background: rgb(225, 73, 73);
}

.medium {
    background: orange;
}

.strong {
    background: teal;
}
