@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@100..700&family=Playwrite+AR:wght@100..400&family=Teko:wght@300..700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body,html{
    background-color: rgb(54, 52, 52);
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}
.game{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.grid{
    width: 40vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3,120px);
    grid-template-rows: repeat(3,120px);
    justify-content: center;
    align-items: center;
    align-content: center;
}
.box{
    width: 110px;
    height: 110px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(88, 114, 163);
}
.element{
    visibility: hidden;
    font-family: "Poppins", sans-serif;
    font-size: 100px;
}
.box:hover{
    cursor: grab;
    background-color: rgb(21, 38, 68);
}
.data{
    width: 500px; 
    height: 60vh;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bolder;
    color:cadetblue;
    font-family: "Anton", sans-serif;
    flex-wrap: wrap;
}
.btn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    visibility: hidden;
    width: 100%;
    flex-wrap: wrap;
}
.cssbuttons-io-button {
    width: 30%;
    background: #7691c7;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 20px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #714da6;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
    position: relative;
    top: -15vh;
}
  
  .cssbuttons-io-button .icon {
    background: white;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
    right: 0.3em;
    transition: all 0.3s;
  }
  
  .cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
  }
  
  .cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #7b52b9;
  }
  
  .cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
  }
  
  .cssbuttons-io-button:active .icon {
    transform: scale(0.95);
  }
  @media only screen and (max-width:880px)
  {
    .game{
      flex-direction: column;
      align-items:center;
    }
    .grid{
      grid-template-columns: repeat(3,90px);
      grid-template-rows: repeat(3,90px);
      height: 50vh;
    }
    .box{
        width: 80px;
        height: 80px;
    }
    .element{
      font-size: 80px;
    }
    .right-side{
        height: 100vh;
    }
    .data{
      height: 40vh;
      position: relative;
      top:-25px;
    }
  }
  @media only screen and (max-width:500px)
  {
    .data{
      font-size: 8vw;
    }
    .btn{
      width: 100%
    }
    .btn button:first-child{
      left: 25px;
    }
    .btn button:nth-child(2)
    {
      right: 25px;
    }
  }